@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      scroll-behavior: smooth;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
.container{
    @apply min-h-screen w-[90%] md:w-[80%] mx-auto;
}
.button {
  @apply border-green border rounded-md  outline-none  w-max  bg-transparent hover:shadow-[5px_5px_0px_0px_#4DCCB9] active:shadow-[5px_5px_0px_0px_#4DCCB9] text-bold font-bold text-center tracking-widest;
}
::-webkit-scrollbar {
  width:7px;
}


::-webkit-scrollbar-track {
 background: #060918;
}


::-webkit-scrollbar-thumb {
  background: #8892B0;
  border-radius: 10px;
  
}